{% extends 'base.html' %}
{% block content %}
<div class="main">
  <form method="post" class="chat-form">
    <h2>Welcome to the Chat!</h2>
    <p>Create a new chat room or join an existing one.</p>

    <h3>Create a Room</h3>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="Pick a cool nickname!" name="name" value="{{ name }}" />
    </div>

    <h3>Join a Room</h3>
    <div class="join">
      <input type="text" placeholder="Room Code" name="code" value="{{ code }}" />
      <button type="submit" name="join">Join</button>
    </div>

    <button type="submit" name="create" class="create-btn">Create Room</button>

    {% if error %}
      <ul class="error-messages">
        <li>{{ error }}</li>
      </ul>
    {% endif %}
  </form>
</div>
{% endblock %}
